/* Write your CSS here */
.text-list-item {
  margin: 10px;
}
.app-category-button {
  background-color: transparent;
  border-width: 0px;
  padding-bottom: 5px;
  cursor: pointer;
}
.text-style {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  color: blue;
}
